
<% include header %>
<div class="ui two column doubling stackable grid container">
<div class="column">
<% if (locals.info != undefined ) { %><div ><h4><%= info.titre_demande %></h4><br /></div><% } %>
<p><i class="hand pointer icon"></i><i class="hourglass empty icon"></i>Demande du 22 12 2016<br />Encombrant 80, rue Baudin</p>
<p><i class="hand pointer icon"></i><i class="hourglass half icon"></i>Demande du 21 12 2016<br />Nettoyage voirie 4, rue des vergers</p>
<form action="/" method="post" class="ui form">
<p><i class="hand pointer icon"></i><i class="hourglass full icon"></i>Demande du 15 12 2016<br />Nettoyage voirie 3, rue Baudin 
<button class="circular ui icon button" name="map" value='3, rue Baudin - Levallois Perret' ><i class="street view icon"></i></button></p>
</form>

</div>
<div class="column">  
<h1> Gestionnaire d'évènements </h1>
<style>.ui.button { margin: 0.2em;} .ui.button span { font-size: 11px; color: black;} .ui.form input[type=text] {margin: 0.2em 0px;}</style>
<form action="/" method="post">
<% if (locals.info.niv) { %><input type="text" name="demande" value="<%= info.niv %>" hidden></input><% } %>
<% if (locals.info.niv === undefined || locals.info.niv === 'home' ) { %> 

<button name="véhicule" class="ui orange button" value='ok'>véhicule<br /><span>Gestion Parc</span></button>
<button name="voirie" class="ui yellow button" value='ok'>Voirie<br /><span>Intervention</span></button>


<button class="ui olive button">Locaux</button>
<button class="ui green button">Espaces Verts<br /><span>Entretien</span></button>
<button class="ui teal button">Gaz</button>
<button class="ui blue button">Eau</button>
<button class="ui violet button">EDF</button>
<button class="ui purple button">Réunion</button>
<button class="ui black button">Absence</button>
<button name="accident" class="ui red button" value='ok'>Accident<br /><span>appel urgence</span></button>
<% } %>

<% if (locals.info.niv === 'véhicule' ) { %>  
<button class="ui orange button">Réparation</button>
<button name="Révision"  value='ok' class="ui orange button">Révision</button>
<button class="ui orange button">Nettoyage</button>
<button class="ui orange button">Achat</button>
<button class="ui orange button">Autres...<br /><span>A préciser</span></button>
<% } %>

<% if (locals.info.niv === 'voirie' ) { %>  
<button class="ui yellow button">Nettoyage voirie</button>
<button name="voirie_encombrant"  value='ok' class="ui yellow button">Enlèvement encombrant</button>
<button class="ui yellow button">Réparation</button>
<button class="ui red button">Urgence</button>
<button class="ui yellow button">Autres...<br /><span>A préciser</span></button>
<% } %>

<% if (locals.info.niv === 'voirie_encombrant' ) { %>  
<button class="ui yellow button">Electroménager</button>
<button name="voirie_mobilier" class="ui yellow button" value='ok'>Mobilier</button>
<button class="ui yellow button">Literie</button>
<button class="ui yellow button">Matériel Informatique</button>
<button class="ui yellow button">Petit Electroménager</button>
<button class="ui yellow button">Planche</button>
<button class="ui yellow button">Sanitaire</button>
<button class="ui yellow button">Tapis</button>
<button class="ui yellow button">Autres...<br /><span>A préciser</span></button>
<% } %>



<% if (locals.info.niv === 'accident' ) { %>  
<button  name="accident_route" class="ui red button" value='ok'>Accident de la route<br /><span>appel urgence</span></button>
<button class="ui red button">Accident ouvrier</button>
<button class="ui red button">Accident employé</button>
<button class="ui red button">Blessures</button>
<button class="ui red button">Autres...<br /><span>A préciser</span></button>
<% } %>
<% if (locals.info.niv === 'accident_route' ) { %>  
<button  name="accident_grave" class="ui red button" value='ok'>Accident Grave<br /><span>appel urgence</span></button>
<button class="ui red button">Accident léger</button>
<button class="ui red button">Accident </button>
<button class="ui red button">Blessures</button>
<button class="ui red button">Autres...<br /><span>Entretien</span></button>
<% } %>

<% if (locals.info.niv === 'accident_grave' ) { %>  
<button  name="accident_grave" class="ui red button" value='ok'>Accident Grave<br /><span>appel urgence</span></button>
<% } %>

<% if (locals.info.msg != undefined && locals.info.msg != '') { %><h3><%= info.msg %></h3><% } %>
<% if (locals.info != undefined ) { %><div><h4><%= info.text %><h4></div><% } %>


<% if (locals.info.niv === 'voirie_mobilier' ) { %>  
<div class="ui checkbox"><input name="meuble1" type="checkbox"><label>Meuble Léger </label></div><br/>
<div class="ui checkbox"><input name="meuble2" type="checkbox"><label>Meuble Lourd </label></div><br/>
<div class="ui checkbox"><input name="meuble3" type="checkbox"><label>Meuble Imposant </label></div><br/>
<div class="ui toggle checkbox"><input name="public" type="checkbox"><label>Nettoyage voirie </label></div>
<br/>
<% } %>

<% if (locals.info.saisie === 'yes' ) { %>  
<div class="field">
<label for="message">Saisissez votre demande</label><br>
<textarea name="message" id="message" ></textarea><br>
<button type="submit" class="ui blue labeled submit icon button"><i class="icon edit"></i>Envoyer</button>
<% } %>
<% if (locals.info.niv === 'out' ) { %>  
<button name="aide" value="ok" class="ui purple labeled submit icon button"><i class="icon edit"></i>Aide</button>
<% } %>
</form>
</div>
<% include footer %>