<% include header %>
<h2> Super user </h2>
<p><%= msg %></p>
<p>https://www.npmjs.com/package/jsdoc<br/> Creation de la doc automatique, dans le dossier courant tapez npm jsdoc server.js
<% include footer %></p>